body {
  text-align: center;
  background-color: black;
  color: #f2f2f2;
  font-family: 'Lato';
}

a {
  color: #FFFFFF;
}

p {
  color: #767d8a;
}

h1 {
  margin-bottom: 5%;
  color: #f2f2f2;
  font-size: 5.5vh;
}

h3 {
  font-size: 3.0vh;
}

h4 {
  font-size: 2.5vh;
}

footer {
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: #131314;
  position: fixed;
  overflow: hidden;
  z-index: 6000;
}

button:focus {
  outline: none;
}

button.vjs-control.vjs-button.material-icons {
  background-color: rgba(245, 245, 245, 0);
  font-size: 2em;
  width: 2%;
  text-align: left;
}

input {
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: #000;
  background-color: rgba(245, 245, 245, 0.5);
  border: none;
  padding-left: 2%;
}

input:focus {
  outline: none;
}

legend {
  text-align: right;
  color: #FFFFFF;
  width: 100%;
  opacity: 0.5;
}

.jqvmap-zoomin, .jqvmap-zoomout {
  background: none;
}

.show-loading {
  z-index: 2000;
  width: 100%;
  height: 90%;
  bottom: 10%;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.5);
  transition: all 0.3s ease-in-out;
}

.show-loading img {
  width: 100%;
  height: 100%;
}

.music-player {
  z-index: 900;
  width: 100%;
  bottom: 10%;
  background-color: rgba(43, 51, 63, 0.7);
  /*background-color: rgba(0, 0, 0, 1);*/
  position: absolute;
}

.react-soundcloud-progress {
  width: 80%;
  margin: auto;
}

.hide-display {
  display: none;
}

.Select.is-searchable {
  margin-top: 42%;
}

.Select-menu-outer {
  /*position: absolute;*/
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  max-height: 185px;
  max-width: 150px;
  margin: auto;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.Select-menu {
  max-height: 185px;
  overflow-y: scroll;
  overflow-scrolling: auto;

}

.Select-input input {
  min-width: 150px;
  padding-left: 5px;
}
  
.Select-clear-zone {
  display: none;
}

.Select-option {
  cursor: pointer;
  padding: 2px 0 2px 0;
}

.Select-option:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

/*.Select-clear {
  margin-left: 2%;
}*/

.imageStyle {
  width: 100%;
  height: 100%;
}

#container {
  position: fixed;
  height: 90%;
  width: 100%;
}

#container2 {
  height: 100%;
  min-width: 100%;
  position: relative;
  /*overflow: hidden;*/
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
}

#player {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 10%;
}

#player.vjs-fullscreen {
  bottom: 0;
}

#globe {
  width: 100%;
  top: 40%;
  left: 47%;
  position: relative;
  transition: all 0.35s ease;
}

#globe5 {
  margin: auto;
  z-index: 2000;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

#main-logo {
  position: absolute;
  left: 0;
  min-width: 11%;
  height: 100%;
  padding: 5px 20px;
}

#splash {
  position: absolute;
  left: 2px;
  top: 0.01%;
  min-width: 20%;
  width: 40%;
  height: 100%;
  opacity: 0.6; 
}

#logo {
  position: relative;
  width: 25%;
  /*width: 100%;*/
  height: 100%;
  display: inline-block;
  float: left;
}

#video-info {
  /*position: absolute;*/
  /*height: 100%;*/
  display: inline-block;
  margin-top: 1%;
  margin-right: 0;
  text-align: right;
  /*right: 42.5%;*/
  font-size: 4.0vh;
}

#vmap {
  z-index: 1000;
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  height: 40%;
  float: right;
}

#outerslider {
  width: auto;
  /*height: 90%;*/
  height: 100%;
  position: relative;
}

#slider {
  width: 50%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  float: right;
  right: -100%;
  z-index: 1000;
  top: -10%;
  bottom: 10%;
  transition: all 0.35s ease;
}

#slider.menu-open {
  right: 0;
}

#globe.globe-move {
  left: 0;
}

#overlay {
  z-index: 5000;
  width: 100%;
  height: 90%;
  bottom: 10%;
  position: absolute;
  /*background-color: rgba(245, 245, 245, 0.5);*/
  background: rgba(246,246,246,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 20%, rgba(255,255,255,0.53) 58%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%, rgba(246,246,246,1)), color-stop(58%, rgba(255,255,255,0.53)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 20%, rgba(255,255,255,0.53) 58%, rgba(237,237,237,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 20%, rgba(255,255,255,0.53) 58%, rgba(237,237,237,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(246,246,246,1) 20%, rgba(255,255,255,0.53) 58%, rgba(237,237,237,0) 100%);
  background: radial-gradient(ellipse at center, rgba(246,246,246,1) 20%, rgba(255,255,255,0.53) 58%, rgba(237,237,237,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
  transition: all 0.5s ease-in-out;
  top: -110%;
}

#parent-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

#overlay-content {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

#overlay-content, #overlay-content h1 {
  margin-top: 8%;
  color: black;
}

#overlay.overlay-move {
  top: 0;
}

#overlay.overlay-move-back {
  top: -110%;
  /*transition: top -110%, 0.5s;*/
  transition-delay: 1s;
  transform: translate3d(0, 0, 0)
}

#intro {
  margin-top: 7%;
  margin-bottom: 0;
  font-size: 4.0vh;
}

#country-title {
  display: inline;
  font-size: 3.5vh;
  margin-left: 5px;
}

#video-title {
  display: inline;
  font-size: 3.5vh;
}

#plane-icon {
  position: absolute;
  width: 15%;
  max-width: 110px;
  min-width: 100px;
  margin: auto;
  bottom: 5%;
  right: 42%;
  transition: all 0.3s ease-in-out;
}

#plane-icon:hover {
  transform: scale(1.2);
}

#flying-plane {
  position: absolute;
  width: 35%;
  max-width: 250px;
  min-width: 245px;
  z-index: 8000;
  /*left: 30%;*/
  right: 35%;
  bottom: 15%;
}

#blank-space {
  position: relative;
  height: 72px;
  width: 72px;
  margin: auto;
  bottom: 15%;
}

#mode-toggle {
  position: relative;
  z-index: 4000;
  text-align: center;
  display: inline;
  transition-duration: 0.4s;
}

#video-toggle, #slideshow-toggle {
  margin-top: 10px;
  position: absolute;
  display: inline;
  font-size: 1em;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 0.6em;
  color: white;
  border: none;
  opacity: 0.5;
}

#video-toggle {
  right: 40%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  /*padding: 0.6em 1.055em;*/.
}

#slideshow-toggle {
  left: 40%;
  border-bottom-right-radius: 25%;
  border-top-right-radius: 25%;
  /*padding: 0.6em;*/
}

#video-toggle:hover, #slideshow-toggle:hover {
  opacity: 1;
}

#video-toggle.focused {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

#slideshow-toggle.focused {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
  opacity: 1;
}

#search-form {
  /*bottom: 5%;*/
  /*top: 20%;*/
  /*position: absolute;*/
  width: 90%;
  margin-top: 50%;
}

#hide-display {
  display:none;
}