body {
  text-align: center;
  background-color: black;
  color: #f2f2f2;
}

a {
  color: green;
}

h1 {
  margin-bottom: 30px;
  color: #f2f2f2;
}

footer {
  width: 100%;
  height: 75px;
  bottom: 0;
  background-color: #131314;
  position: fixed;
  overflow: hidden;
}

#container {
  position: fixed;
  height: 100%;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

#player {
  position: fixed;
  height: auto;
  width: 100%;
  left: 0;
  bottom: 75px;
}

#globe5 {
  margin: auto;
  z-index: 1000;
}

#main-logo {
  position: absolute;
  left: 0;
  width: 170px;
  height: 75px;
  padding: 5px 20px;
}

#splash {
  position: absolute;
  left: 3px;
  top: 0.01%;
  width: 12%;
  opacity: 0.7; 
}

#vmap {
  z-index: 1000;
  position: absolute;
}

#slider {
  width: 600px; 
  height: 900px;
  background-color: rgba(245, 245, 245, 0.5);
  position: relative;
  float: right;
  right: -600px;
  z-index: 1000;
  bottom: 75px;
}

#slider.menu-open {
  right: 0;
}